# ----------------------------------------------------------------------
# file: backend/requirements.txt
# ----------------------------------------------------------------------
fastapi[all]
sqlmodel
passlib[bcrypt]
python-jose[cryptography]
python-dotenv